<!DOCTYPE html>
<html>
  <head>
    <title>Online Shopping Portal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="imgs/logo.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/electronics.css" />
    <link rel="stylesheet" type="text/css" href="css/nav.css" />
    <script type="text/javascript" src="js/electronicsfilter.js"></script>
  </head>
  <body>
    <header>
      <div class="hleft">
        <img src="imgs/logo.png" />
      </div>
      <div class="hright">
        <h1>Hop n Shop</h1>
        <h3>Online Shopping Portal</h3>
      </div>
      <div class="hrest">
        <marquee>
          Upto 45% off on electronics from 10th November to 13th November &nbsp;
          * &nbsp; Latest Clothing Fashion Available for Diwali &nbsp; * &nbsp;
          Over 10,000 new E-books available for you!</marquee
        >
      </div>
    </header>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="index"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li><a href="#" class="active">Electronics</a></li>
            <li><a href="clothing">Clothing</a></li>
            <li><a href="ebooks">E-books</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="cart"
                ><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a
              >
            </li>
            <li>
              <a href="/"
                ><span class="glyphicon glyphicon-user"></span> Sign Up</a
              >
            </li>
            <li>
              <a href="login"
                ><span class="glyphicon glyphicon-log-in"></span> Login</a
              >
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <section class="left">
      <span id="timeline">Filters</span>
      <hr />
      <ul>
        <li style="list-style: none">
          <details>
            <summary>Sort By Price</summary>
            <ul>
              <li>
                <span class="filterlink" onclick="lowtohigh()">
                  Low to High
                </span>
              </li>
              <li>
                <span class="filterlink" onclick="hightolow()">
                  High to Low
                </span>
              </li>
              <li>
                <span class="filterlink" onclick="allitems()">
                  Sort by Popularity
                </span>
              </li>
            </ul>
          </details>
        </li>
        <li style="list-style: none">
          <details>
            <summary>Categories</summary>
            <ul>
              <li>
                <span class="filterlink" onclick="phone()"> Phones </span>
              </li>
              <li>
                <span class="filterlink" onclick="headset()">
                  Earphones & Headphones
                </span>
              </li>
              <li>
                <span class="filterlink" onclick="camera()"> Camera </span>
              </li>
              <li>
                <span class="filterlink" onclick="watch()"> Watches </span>
              </li>
              <li>
                <span class="filterlink" onclick="allitems()"> All </span>
              </li>
            </ul>
          </details>
        </li>
      </ul>

      <br />
      <br />
      <br />

      <span id="timeline">Catagories</span>
      <hr />
      <ul>
        <li><a href="#" class="links"> Electronics </a></li>
        <li><a href="clothing" class="links"> Clothing </a></li>
        <li><a href="ebooks" class="links"> E-Books </a></li>
      </ul>
      <br />
      <br />
      <br />
      <span id="timeline">Your Account</span>
      <hr />
      <ul>
        <li><a href="" class="links"> Wishlist </a></li>
        <li><a href="" class="links"> Order History </a></li>
        <li><a href="" class="links"> Track Order </a></li>
      </ul>
    </section>
    <section class="right">
      <h2>Electronics</h2>
      <hr />
      <div class="products">
        <div class="item headset">
          <center><img src="imgs/electronics/airpods.png" /></center>
          <p>AirPods with Charging Case</p>
          <p class="price">&#8377; 11,900</p>
          <p class="quantity" id="101">
            <button
              class="minus"
              onclick="subtract('add101','101','number101')"
            >
              -
            </button>
            <span class="number" id="number101"></span>
            <button class="plus" onclick="addition('number101')">+</button>
          </p>
          <p>
			  <form action="/electronics" method="post">
            <button
              class="add"
              id="add101"
              type="submit"
              value="e001"
              name="itemid"
              
            >
              Add to Cart
			</button>
          </p>
        </div>
        <div class="item headset">
          <center><img src="imgs/electronics/boseheadphones.png" /></center>
          <p>Bose SoundLink Wireless Headphones - Black</p>
          <p class="price">&#8377; 19,000</p>
          <p class="quantity" id="102">
            <button
              class="minus"
              onclick="subtract('add102','102','number102')"
            >
              -
            </button>
            <span class="number" id="number102"></span>
            <button class="plus" onclick="addition('number102')">+</button>
          </p>
          <p><button class="add" id="add102" value="e002" type="submit" name="itemid">Add to Cart</button></p>
        </div>
        <div class="item camera">
          <center><img src="imgs/electronics/canoncamera.png" /></center>
          <p>Canon EOS 1500D 24.1MP Digital SLR Camera</p>
          <p class="price">&#8377; 38,000</p>
          <p class="quantity" id="103">
            <button
              class="minus"
              onclick="subtract('add103','103','number103')"
            >
              -
            </button>
            <span class="number" id="number103"></span>
            <button class="plus" onclick="addition('number103')">+</button>
          </p>
          <p><button class="add" id="add103" value="e003" type="submit" name="itemid">Add to Cart</button></p>
        </div>
        <div class="item watch">
          <center><img src="imgs/electronics/fitbit.png" /></center>
          <p>Fitibt Fitness Tracker</p>
          <p class="price">&#8377; 7,200</p>
          <p class="quantity" id="104">
            <button
              class="minus"
              onclick="subtract('add104','104','number104')"
            >
              -
            </button>
            <span class="number" id="number104"></span>
            <button class="plus" onclick="addition('number104')">+</button>
          </p>
          <p><button class="add" id="add104" value="e004" type="submit" name="itemid">Add to Cart</button></p>
        </div>
        <div class="item phone">
          <center><img src="imgs/electronics/iphone11.png" /></center>
          <p>Apple iPhone 11 (128GB) - Black</p>
          <p class="price">&#8377; 55,000</p>
          <p class="quantity" id="105">
            <button
              class="minus"
              onclick="subtract('add105','105','number105')"
            >
              -
            </button>
            <span class="number" id="number105"></span>
            <button class="plus" onclick="addition('number105')">+</button>
          </p>
          <p><button class="add" id="add105" value="e005" type="submit" name="itemid">Add to Cart</button></p>
        </div>
        <div class="item phone">
          <center><img src="imgs/electronics/oneplus8pro.png" /></center>
          <p>OnePlus 8 Pro (Glacial Green 12GB RAM+256GB Storage)</p>
          <p class="price">&#8377; 60,000</p>
          <p class="quantity" id="106">
            <button
              class="minus"
              onclick="subtract('add106','106','number106')"
            >
              -
            </button>
            <span class="number" id="number106"></span>
            <button class="plus" onclick="addition('number106')">+</button>
          </p>
          <p><button class="add" id="add106" value="e006" type="submit" name="itemid">Add to Cart</button></p>
        </form>  
        </div>
        </div>
      </div>
      <br />
    </section>
    <footer>
      <section class="ft" id="shreya">
        <h2>Shreya Sengar</h2>
        <p>
          201800510 <br />
          Roll. No. 41 <br />
          Section: C
        </p>
      </section>
      <section class="ft" id="jaskaran">
        <h2>Jaskaran Reen</h2>
        <p>
          201800536 <br />
          Roll. No. 44 <br />
          Section: C
        </p>
      </section>
      <section class="ft" id="prajakta">
        <h2>Prajakta Ghorpade</h2>
        <p>
          201800541 <br />
          Roll. No. 45 <br />
          Section: C
        </p>
      </section>
      <section class="ft" id="lush">
        <h2>Lush Gulati</h2>
        <p>
          201800609 <br />
          Roll. No. 55 <br />
          Section: C
        </p>
      </section>
    </footer>
  </body>
</html>
