<!DOCTYPE html>
<html>
  <head>
    <title>Online Shopping Portal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="imgs/logo.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/nav.css" />
  </head>
  <body>
    <header>
      <div class="hleft">
        <img src="imgs/logo.png" />
      </div>
      <div class="hright">
        <h1>Hop n Shop</h1>
        <h3>Online Shopping Portal</h3>
      </div>
      <div class="hrest">
        <marquee>
          Upto 45% off on electronics from 10th November to 13th November &nbsp;
          * &nbsp; Latest Clothing Fashion Available for Diwali &nbsp; * &nbsp;
          Over 10,000 new E-books available for you!</marquee
        >
      </div>
    </header>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" class="active"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li><a href="electronics">Electronics</a></li>
            <li><a href="clothing">Clothing</a></li>
            <li><a href="ebooks">E-books</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="cart"
                ><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a
              >
            </li>
            <li>
              <a href="/"
                ><span class="glyphicon glyphicon-user"></span> Sign Up</a
              >
            </li>
            <li>
              <a href="login"
                ><span class="glyphicon glyphicon-log-in"></span> Login</a
              >
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <section class="left">
      <span id="timeline">Catagories</span>
      <hr />
      <ul>
        <li><a href="electronics" class="links"> Electronics </a></li>
        <li><a href="clothing" class="links"> Clothing </a></li>
        <li><a href="ebooks" class="links"> E-Books </a></li>
      </ul>
      <br />
      <br />
      <br />
      <span id="timeline">Your Account</span>
      <hr />
      <ul>
        <li><a href="" class="links"> Wishlist </a></li>
        <li><a href="" class="links"> Order History </a></li>
        <li><a href="" class="links"> Track Order </a></li>
      </ul>
    </section>
    <section class="right">
      <div>
        <h2>Welcome!</h2>
        <hr />
        <p>
          We are passionate about finding things that rise above the mundane;
          that we think will catch your eye and arrest it. Moreover, to bring
          these to you wherever you are and whenever you feel you have the time
          to indulge a little.
        </p>
        <p>
          So we created a company to bring you products you will fall in love
          with; to give you a chance to create your own space, to tap into those
          hidden talents and make your personal looks and collections; to help
          you share your creations with friends to get that second opinion, to
          inspire or be inspired; and to help you shop in a way that you will
          find mesmerizing.
        </p>
        <br />
      </div>
      <div class="remaining">
        <h2>Exclusive Offeres</h2>
        <hr />
        <center><img src="imgs/sale.png" /></center>
        <br />
        <p>
          We are offering all Hop n Shop customers a chance to save up to 45% on
          Electronics this Tuesday, November 10, from 8:00 a.m. onwards. Receive
          discounts on all the latest software packages. Plan to be there!
        </p>
      </div>
      <br />
    </section>
    <footer>
      <section class="ft" id="shreya">
        <h2>Shreya Sengar</h2>
        <p>
          201800510 <br />
          Roll. No. 41 <br />
          Section: C
        </p>
      </section>
      <section class="ft" id="jaskaran">
        <h2>Jaskaran Reen</h2>
        <p>
          201800536 <br />
          Roll. No. 44 <br />
          Section: C
        </p>
      </section>
      <section class="ft" id="prajakta">
        <h2>Prajakta Ghorpade</h2>
        <p>
          201800541 <br />
          Roll. No. 45 <br />
          Section: C
        </p>
      </section>
      <section class="ft" id="lush">
        <h2>Lush Gulati</h2>
        <p>
          201800609 <br />
          Roll. No. 55 <br />
          Section: C
        </p>
      </section>
    </footer>
  </body>
</html>
