<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Online Shopping Portal</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="icon" href="imgs/logo.png" />
  </head>

  <body>
    <div class="page-container">
      <form action="/login" method="POST">
        <h1>LOG IN</h1>

        <div class="fields">
          <label for="user" class="label">Email ID</label>
          <input type="text" name="email" class="Name" />
        </div>

        <div class="fields">
          <label for="user" class="label">Password</label>
          <input type="password" name="password" class="password" />
        </div>

        <button class="input" type="submit" value="Add" name="submit">
          Submit
        </button>

        <div class="loginfail"><%= errormessage %></div>

        <div class="hr"></div>
        <div class="signup">
          Haven't registered? <a href="/"> Click here to sign up! </a>
        </div>
        <div class="home">&#8617; <a href="index"> Back to Home Page </a></div>
      </form>
    </div>
  </body>
</html>
