<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Online Shopping Portal</title>
    <link rel="icon" href="imgs/logo.png" />
    <link rel="stylesheet" type="text/css" href="css/signup.css" />
  </head>

  <body>
    <div class="page-container">
      <form action="/" method="POST">
        <h1>SIGN UP</h1>

        <div class="fields">
          <label for="user" class="label">Username</label>
          <input type="text" name="name" class="Name" />
        </div>

        <div class="fields">
          <label for="user" class="label">Phone Number</label>
          <input type="text" name="tele" class="Tele" />
        </div>

        <div class="fields">
          <label for="user" class="label">Email ID</label>
          <input type="email" name="email" class="Email" />
        </div>

        <div class="fields">
          <label for="user" class="label">Password</label>
          <input type="password" name="password" class="password" />
        </div>

        <div class="fields">
          <label for="user" class="label">Address</label>
          <input type="text" name="Address" class="Address" />
        </div>

        <button class="input" type="submit" value="Add" name="submit">
          Submit
        </button>

        <div class="hr"></div>
        <div class="login">
          Already registered?
          <a href="login"> Go back to Login Page! </a>
        </div>

        <div class="home">&#8617; <a href="index"> Back to Home Page </a></div>
      </form>
    </div>
  </body>
</html>
