.navbar{
	margin-bottom: 0;
}
.navbar-default {
    background-color: #f0f5ff;
}
.navbar-default .navbar-nav>li>a {
    color: #056676;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #e9edf6;
}
.active {
    background-color: #d1e0fa70 !important;
    font-size: 1.1em;
    font-weight: bolder !important;
    color: #344f60 !important;
}